@media(max-width:575px){
	.menu{
		position: static;
	}
	.menu a{
		width: 100%;
		padding: 20px 0;
	}

	.header{
		padding: 100px 10px;
		margin-top: 0;
		background-size: cover;
		background-position: center center;
		min-height: 300px;
	}
}